[submodule "backend/external/libevent"]
	path = backend/external/libevent
	url = git@github.com:libevent/libevent.git
[submodule "backend/external/Crow"]
	path = backend/external/Crow
	url = git@github.com:CrowCpp/Crow.git
[submodule "backend/external/IXWebSocket"]
	path = backend/external/IXWebSocket
	url = git@github.com:machinezone/IXWebSocket.git
[submodule "backend/external/json"]
	path = backend/external/json
	url = git@github.com:nlohmann/json.git
[submodule "backend/external/libuuid-cmake"]
	path = backend/external/libuuid-cmake
	url = git@github.com:gershnik/libuuid-cmake.git
[submodule "backend/external/libpqxx"]
	path = backend/external/libpqxx
	url = git@github.com:jtv/libpqxx.git
[submodule "backend/external/AMQP-CPP"]
	path = backend/external/AMQP-CPP
	url = git@github.com:CopernicaMarketingSoftware/AMQP-CPP.git
[submodule "backend/external/spdlog"]
	path = backend/external/spdlog
	url = git@github.com:gabime/spdlog.git
