<button (click)="open1()">Test 1</button>
<div class="container">
    <mat-card>
        <h1>Monopoly Game</h1>

        <div class="new-game">
            <mat-form-field appearance="fill">
                <mat-label>Dein Name</mat-label>
                <input matInput [(ngModel)]="playerName" placeholder="Namen eingeben">
            </mat-form-field>
          <h2>Neues Spiel erstellen</h2>
          <button mat-raised-button color="primary" (click)="createNewRoom()">Spiel erstellen</button>
        </div>
    </mat-card>

    <mat-card class="game-list">
        <h2>Bestehende Spiele:</h2>
        <mat-list>
          @for (room of openRooms; track room) {
            <mat-list-item (click)="joinRoom(room.id, room.name)">
              {{ room.name }} - Spieler: {{ room.players }}
            </mat-list-item>
          }
        </mat-list>
    </mat-card>
</div>
