<div class="table">
  <div class="board">
    <div class="center">
      <h1 class="title">MONOPOLY</h1>
    </div>

    <div class="space corner go">
      <div class="container">
        <div class="instructions">Nimm 2000$</div>
        <div class="go-word">Start</div>
      </div>
      <div class="arrow fa fa-long-arrow-left"></div>
    </div>

    <div class="row horizontal-row bottom-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar light-blue"></div>
          <div class="name">Thun</div>
          <div class="price">Preis $2420</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar light-blue"></div>
          <div class="name">Neuenburg</div>
          <div class="price">Preis $2000</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-question"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar light-blue"></div>
          <div class="name">Aarau</div>
          <div class="price">Preis $2000</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-subway"></i>
          <div class="price"></div>
        </div>
      </div>
      <div class="space fee income-tax">
        <div class="container">
          <div class="name"></div>
          <div class="instructions"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-purple"></div>
          <div class="name">Schaffhausen</div>
          <div class="price">Preis $1200</div>
        </div>
      </div>
      <div class="space community-chest">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-cube"></i>
          <div class="instructions"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-purple"></div>
          <div class="name three-line-name">Chur</div>
          <div class="price">Preis $1200</div>
        </div>
      </div>
    </div>

    <div class="space corner jail">
      <div class="just"></div>
      <div class="drawing">
        <div class="container">
          <div class="name"></div>
          <div class="window">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <i class="person fa fa-frown-o"></i>
          </div>
          <div class="name"></div>
        </div>
      </div>
      <div class="visiting"></div>
    </div>

    <div class="row vertical-row left-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar orange"></div>
          <div class="name">La Chaux-de-Fonds</div>
          <div class="price">Preis $4000</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar orange"></div>
          <div class="name">Freiburg</div>
          <div class="price">Preis $3600</div>
        </div>
      </div>
      <div class="space community-chest">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-cube"></i>
          <div class="instructions"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar orange"></div>
          <div class="name">Biel</div>
          <div class="price">Preis $3600</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name long-name"></div>
          <i class="drawing fa fa-subway"></i>
          <div class="price"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar purple"></div>
          <div class="name">Lugano</div>
          <div class="price">Preis $3200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar purple"></div>
          <div class="name">Solothurn</div>
          <div class="price">Preis $2800</div>
        </div>
      </div>
      <div class="space utility electric-company">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-lightbulb-o"></i>
          <div class="price"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar purple"></div>
          <div class="name">Basel</div>
          <div class="price">Preis $2800</div>
        </div>
      </div>
    </div>

    <div class="space corner free-parking">
      <div class="container">
        <div class="name"></div>
        <i class="drawing fa fa-car"></i>
        <div class="name"></div>
      </div>
    </div>

    <div class="row horizontal-row top-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar red"></div>
          <div class="name">Winterthur</div>
          <div class="price">Preis $4400</div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-question blue"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar red"></div>
          <div class="name">St. Gallsen</div>
          <div class="price">Preis $4400</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar red"></div>
          <div class="name">Bern</div>
          <div class="price">Preis $4800</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-subway"></i>
          <div class="price"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar yellow"></div>
          <div class="name">Luzern</div>
          <div class="price">Preis $5200</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar yellow"></div>
          <div class="name">Zürich</div>
          <div class="price">Preis $5200</div>
        </div>
      </div>
      <div class="space utility waterworks">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-tint"></i>
          <div class="price"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar yellow"></div>
          <div class="name">Lausanne</div>
          <div class="price">Preis $5600</div>
        </div>
      </div>
    </div>

    <div class="space corner go-to-jail">
      <div class="container">
        <div class="name"></div>
        <i class="drawing fa fa-gavel"></i>
        <div class="name"></div>
      </div>
    </div>

    <div class="row vertical-row right-row">
      <div class="space property">
        <div class="container">
          <div class="color-bar green"></div>
          <div class="name">Basel</div>
          <div class="price">Preis $6000</div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar green"></div>
          <div class="name three-line-name">Genf</div>
          <div class="price">Preis $6000</div>
        </div>
      </div>
      <div class="space community-chest">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-cube"></i>
          <div class="instructions"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar green"></div>
          <div class="name long-name">Bern</div>
          <div class="price">Preis $6400</div>
        </div>
      </div>
      <div class="space railroad">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-subway"></i>
          <div class="price"></div>
        </div>
      </div>
      <div class="space chance">
        <div class="container">
          <div class="name"></div>
          <i class="drawing fa fa-question"></i>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-blue"></div>
          <div class="name">Lausanne</div>
          <div class="price">Preis $7000</div>
        </div>
      </div>
      <div class="space fee luxury-tax">
        <div class="container">
          <div class="name"></div>
          <div class="drawing fa fa-diamond"></div>
          <div class="instructions"></div>
        </div>
      </div>
      <div class="space property">
        <div class="container">
          <div class="color-bar dark-blue"></div>
          <div class="name">Zürich</div>
          <div class="price">Preis $8000</div>
        </div>
      </div>
    </div>
  </div>
</div>
